<!doctype html>

<html class="no-js" lang="en">

{% include head.html %}

{% include top-header.html %}

{% include billboard.html %}

{% include breadcrumb.html %}


{{ content }}

<div class="grid-container large mt-25">
  <div class="grid-x grid-margin-x">
      <div class="cell large-6">
          <div class="closing-blocks">
              <h5>Watch Past Events</h5>
              <a href="https://www.youtube.com/channel/UCz7BTIgd_GBKn9B65328bjw">
                  <div class="image">
                      <img class="overlay" src="/images/specialevents-youtube-text.png" alt="Arts, Lectures, and Entertainment">
                      <img src="/images/specialevents-youtube-background.jpg" alt="Perform Dancers">
                  </div>
              </a>
          </div>
      </div>
      <div class="cell large-6">
          <div class="closing-blocks">
              <h5>Events Newsletter</h5>
              <a href="https://ucscforms.wufoo.com/forms/uc-santa-cruz-events-email/">
                  <div class="image">
                      <img class="overlay" src="/images/specialevents-newsletter-text.png" alt="Subscribe to our events newsletter">
                      <img src="/images/specialevents-newsletter-background.svg" alt="Email background">
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>

{% include main-footer.html %}
