<!doctype html>

<html class="no-js" lang="en">

{% include main-header.html %}

{% include billboard.html %}

{% include breadcrumb.html %}


<div class="page-content" id="main-content">
  <div class="layout-two-column large">
    <div class="wrap">
      <div class="inner">
         <!-- content -->
        <div class="column-main">

         {{ content }}

        <!-- Speaker profile listing with photos -->
        {% if page.speaker != null %}
        <h2>The awards presentation will include:</h2>
         <div class="profile-list owl-carousel">
          {% for speaker in page.speaker %}
            <a id="{{ speaker.name }}" name="{{ 'speaker.name' }}"><a class="profile carousel-item" href="{{ speaker.link }}">
              {% if page.speaker.award-title != "" %}
                <h3 class="cell large-12">{{ speaker.award-title }}</h3>
              {% endif%}
                <div class="image speaker">
                    <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
                </div>
                <div class="profile-info">
                    <h4 class="underline tighten">{{ speaker.name }}</h4>
                    <div class="tags">
                        <p>{{ speaker.title }}</p>
                        <p>{{ speaker.teaser }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
          </div>
          {% endif %}
          <!-- End profile with photos -->

        </div>
        <div class="column-support">
          <div class="content-block">
            <!-- Landing page links -->
            {% if event.nav-collection != '' %}
            {% assign pagenav = page.nav-collection %}
              <ul class="sidebar-nav">
              {% for event in site.events %}
              {% if event.nav-collection == pagenav and event.order >= 2 %}
                <li>
                  <a class="button" href="{{ site.baseurl }}{{ event.url }}" target="_self">
                  <span class="button-text"><strong class="blue-text">{{ event.title }}</strong> </span>
                  </a>
                </li>

              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}

            <!-- End Landing page links -->
            <!-- Right sidebar speakers listing -->
            {% if page.speaker.name != "" %}
              <h5 class="blue-text">Speaker:</h5>
                <ul>
                  {% for speaker in page.speaker %}
                    <li>{{ speaker.name }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
            <!-- End speakers listing -->
            <!-- Right sidebar event date and time -->
              {% if page.billboard.date != "" %}
                <h5 class="blue-text">Date:</h5>
                <p>{{ page.billboard.day }}, {{ page.billboard.month }} {{ page.billboard.date }}, {{ page.billboard.year }} <br/>
                {{ page.billboard.starttime }} - {{ page.billboard.endtime }}</p>
              {% endif %}
            <!-- Dnd right sidebar date and time -->
            <!-- Right sidebar address -->
              {% if page.location.address != "" %}
                <h5 class="blue-text">Locations:</h5>
                <p>{{ page.location.address }} <a href="{{ page.location.addresslink }}" class="btn-link">map <i class="fas fa-map"></i></a></p>
              {% endif %}
            <!-- End right sidebar address -->
            <!-- Register button -->
              <p>
                <a class="button primary expanded" href="{{ page.registration }}">Register Now</a>
              </p>
            <!-- End register button -->
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>
{% include main-footer.html%}
