<!doctype html>

<html class="no-js" lang="en">

{% include head.html %}

{% include top-header.html %}

{% include billboard.html %}

{% include breadcrumb.html %}

<style>
  li .button {
    text-align: left;
  }
</style>

<div class="page-content" id="main-content">
  <div class="layout-two-column large">
    <div class="wrap">
      <div class="inner">
         <!-- content -->
        <div class="column-main">

         {{ content }}

        <!-- Speaker profile listing with photos -->
        {% if page.speaker != null %}
        <h2>{{ page.speaker-title}}</h2>
         <div class="profile-list owl-carousel">
          {% for speaker in page.speaker %}
            <a id="{{ speaker.name }}" name="{{ 'speaker.name' }}"></a>
              <a class="profile carousel-item" href="{{ speaker.link }}">
              {% if page.speaker.award-title != null %}
                <h3 class="cell large-12">{{ speaker.award-title }}</h3>
              {% endif%}
                <div class="image speaker">
                    <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
                </div>
                <div class="profile-info">
                    <h4 class="underline tighten">{{ speaker.name }}</h4>
                    <div class="tags">
                        {% if page.speaker.title != "" %}
                          <p>{{ speaker.title }}</p>
                        {% endif %}
                        {% if page.speaker.teaser != "" %}
                          <p>{{ speaker.teaser }}</p>
                        {% endif %}
                    </div>
                </div>
              </a>
            {% endfor %}
          </div>
          {% endif %}
          <!-- End profile with photos -->


          {% for other in page.other %}
            {% if other.description != '' %}
              <div class="component-wrapper"> 
                <section class="content-left">
                   <div class="grid-container large">
                    <h2>{{ other.title }}</h2>
                    <img src="{{ other.image }}" alt="{{ other.alt }}">
                    <p>{{ other.description }}</p>
                   </div>
                </section>
              </div>
            {% endif %}
          {% endfor %}



        </div>
        <div class="column-support">
          <div class="content-block">
            <!-- Landing nav-order links -->

            {% if page.nav-order != null %}
              <ul class="sidebar-nav">
                {% for event in site.events %}
                  {% assign pagenav = event.nav-collection %}
                  {% if pagenav == page.nav-collection and event.nav-order == 1 %}
                    <li>
                      <a class="button" href="{{ site.baseurl }}{{ event.url }}" target="_self">
                      <span class="button-text"><strong class="blue-text">Home</strong> </span>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% for event in site.events %}
                  {% assign pagenav = event.nav-collection %}
                  {% if pagenav == page.nav-collection and event.nav-order >= 2 %}
                    <li>
                      <a class="button" href="{{ site.baseurl }}{{ event.url }}" target="_self">
                      <span class="button-text"><strong class="blue-text">{{ event.title  }}</strong> </span>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}

            <!-- End Landing page links -->
            <!-- Right sidebar speakers listing -->
            {% if page.speaker.name != null %}
              <h5 class="blue-text">Speaker:</h5>
                <ul>
                  {% for speaker in page.speaker %}
                    <li>{{ speaker.name }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
            <!-- End speakers listing -->
            <!-- Right sidebar event date and time -->
              {% if page.billboard.date != null %}
                <h5 class="blue-text">Date:</h5>
                <p>{{ page.billboard.day }}, {{ page.billboard.month }} {{ page.billboard.date }}, {{ page.billboard.year }} <br/>
              {{ page.billboard.starttime }} {% if page.billboard.endtime != null %}-  {{ page.billboard.endtime }} {% endif %}</p>
              {% endif %}
            <!-- Dnd right sidebar date and time -->
            <!-- Right sidebar address -->
              {% if page.location.address != null %}
                <h5 class="blue-text">Locations:</h5>
                <p>{{ page.location.address }}
                  {% if page.location.addresslink != null %}
                    <a href="{{ page.location.addresslink }}" class="btn-link">map <i class="fas fa-map"></i></a>
                  {% endif %}
                </p>
              {% endif %}
            <!-- End right sidebar address -->
            <!-- Sidebar event registration -->
              {% if page.registration-url != null %}
                <h5 class="blue-text">Registration:</h5>
                <p>
                  <a href="{{ page.registration-url }}" class="btn-link">{{ page.register-text }}</a>
                </p>
              {% endif %}
            <!-- End Sidebar registration -->
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>
{% include main-footer.html%}
