<!doctype html>

<html class="no-js" lang="en">

{% include main-header.html %}

{% include breadcrumb.html %}


<div id="page-content">
        
                <div class="grid-container hide-for-xlarge mt-50">
                        <div class="nav-sidebar">
                
                            <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                                <div class="page-menu-trigger button tertiary" data-toggle="page-menu">In This Section</div>
                            </div>
                
                            <div id="page-menu">
                                <ul class="vertical menu">
                                    <li class="section-title"><a href="javascript:void(0)" aria-label="">Special Events Home</a></li>
                                    <li><a href="javascript:void(0)" aria-label="">Archive</a></li>
                                    <li><a href="javascript:void(0)" aria-label="">Help in Planning</a></li>
                                    <li class="is-active"><a class="subsection-title" href="javascript:void(0)" aria-label="">Campus Venus</a></li>
                                    <li >
                                        <a href="javascript:void(0)" aria-label="">Contact</a>
                                    </li>
                                </ul>
                            </div>
                
                        </div>
                    </div>
                
        
            <div class="layout-two-column large sidebar-left">
                <div class="wrap">
                    <div class="inner">
        
                        <div class="column-main">
        
                            <h2 class="underline">Contact</h1>
        
                            {{ content }}
        
        
                            <div class="last-mod-date">Last Modified: {{ site.time | date: '%B %d, %Y' }}</div>
                        </div>
        
                        <div class="column-support">
                            
                            <div class="show-for-xlarge">
                                    <div class="nav-sidebar">
            
                                        <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                                            <div class="page-menu-trigger" data-toggle="page-menu">In This Section</div>
                                        </div>
            
                                        <div id="page-menu">
                                            <ul class="vertical menu">
                                                <li class="">
                                                    <a class="section-title" href="javascript:void(0)" aria-label="">Home</a>
                                                    <ul class="menu vertical nested">
                                                        <li><a href="javascript:void(0)" aria-label="">Special Events Archive</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Help in Planning</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Campus Venus</a></li>
                                                        <li class="is-active">
                                                            <a class="subsection-title" href="javascript:void(0)">Contact</a>
                                                        </li>
                                                    </ul>
                                                    
                                                </li>
                                                
                                            </ul>
                                        </div>
            
                                    </div>
            
                                </div>
        
                        </div>
        
        
                    </div>
        
                </div>
        
        
            </div>
        
        
         
        </div>

{% include main-footer.html%}