/* colors */
.yeardropdown select {
  background: #1779ba;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='https://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>") !important;
  background-origin: content-box;
  background-position: right -1rem center;
  background-size: 9px 6px;
  background-repeat: no-repeat;
  border: none;
  color: #fff; }

/* End select year */
/*Location address */
.location-address h4 small {
  color: #666 !important; }

.profile-list .profile {
  padding: 1rem 1rem 2rem; }

.profile .image {
  max-height: 275px; }

.tags p {
  font-size: 1rem; }

a.whitelink,
a.whitelink:active {
  color: #fff;
  text-decoration: none; }

a.whitelink:hover,
a.whitelink:focus {
  text-decoration: underline; }

.sidebar-nav {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

.sidebar-nav li {
  padding: 0 0 10px;
  margin: 0; }

.sidebar-nav li .button {
  padding: 0;
  margin: 0; }

.archive-container {
  padding: 1em;
  background: #fff;
  display: block;
  margin: 1em 0; }

.archive-year {
  padding-bottom: .5em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em; }

.archive-year ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.archive-year ul li {
  display: inline-block;
  padding: 0 10px 0 5px;
  border-right: 1px solid #ddd; }

.archive-year ul li:last-child {
  display: inline-block;
  padding: 0 10px 0 5px;
  border-right: 0px; }

#search-results {
  margin-top: 3em;
  list-style-type: none; }

#search-results li {
  background: #fff;
  border-radius: .25em;
  display: inline-block;
  margin-bottom: 3em;
  padding: 1em;
  width: 100%; }

.result-search input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #003c6c;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  height: 37px;
  position: absolute;
  right: 1.30em;
  text-decoration: none;
  top: 0;
  width: 100px;
  z-index: 10;
}

.result-search input[type=text] {
  border-radius: .5em;
}

.hero-container {
  height: 35rem;
}

.skipnav { text-align: left; }
.skipnav a { position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden; }
.skipnav a:focus, .skipnav a:active { position: static; left: 0; width: auto; height: auto; overflow: visible; text-decoration: underline; }


/*End location address */
/* min-width 641px, medium screens */
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImN1c3RvbS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBLFlBQVk7QUFNWjtFQUNDLG9CQUFtQjtFQUNuQixvUEFBbVA7RUFDblAsK0JBQThCO0VBQzlCLHdDQUF1QztFQUN2Qyx5QkFBd0I7RUFDeEIsNkJBQTRCO0VBQzVCLGFBQVk7RUFDWixZQUFXLEVBQ1g7O0FBRUQscUJBQXFCO0FBRXJCLHFCQUFxQjtBQUNyQjtFQUNFLHVCQUFzQixFQUN2Qjs7QUFFRDtFQUNDLHdCQUF1QixFQUN2Qjs7QUFFRDtFQUNDLGtCQUFpQixFQUNqQjs7QUFFRDtFQUNDLGdCQUNELEVBQUM7O0FBRUQ7O0VBRUMsWUFBVztFQUNYLHNCQUFxQixFQUNyQjs7QUFFRDs7RUFFQywyQkFBMEIsRUFDMUI7O0FBRUQ7RUFDQyxzQkFBcUI7RUFDckIsZUFBYztFQUNkLGdCQUFlLEVBQ2Y7O0FBRUQ7RUFDQyxrQkFBaUI7RUFDakIsVUFBUyxFQUNUOztBQUVEO0VBQ0MsV0FBVTtFQUNWLFVBQVMsRUFDVDs7QUFFRDtFQUNDLGFBQVk7RUFDWixpQkFBZ0I7RUFDaEIsZUFBYztFQUNkLGNBQWEsRUFDYjs7QUFFRDtFQUNDLHFCQUFvQjtFQUNwQiw4QkFBNkI7RUFDN0IsbUJBQWtCLEVBQ2xCOztBQUVEO0VBQ0Msc0JBQXFCO0VBQ3JCLFVBQVM7RUFDVCxXQUFVLEVBQ1Y7O0FBRUQ7RUFDQyxzQkFBcUI7RUFDckIsc0JBQXFCO0VBQ3JCLDZCQUE0QixFQUM1Qjs7QUFFRDtFQUNDLHNCQUFxQjtFQUNyQixzQkFBcUI7RUFDckIsa0JBQWlCLEVBQ2pCOztBQUVEO0VBQ0MsZ0JBQWU7RUFDZixzQkFBcUIsRUFDckI7O0FBR0Q7RUFDQyxpQkFsR1c7RUFtR1gscUJBQW9CO0VBQ3BCLHNCQUFxQjtFQUNyQixtQkFBa0I7RUFDbEIsYUFBWTtFQUNaLFlBQVcsRUFDWDs7QUFJRCx5QkFBeUI7QUFlekIscUNBQXFDO0FBUXJDLHFDQUFxQztBQVFyQyxzQ0FBc0M7QUFNdEMsdUNBQXVDIiwiZmlsZSI6ImN1c3RvbS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJcbi8qIGNvbG9ycyAqL1xuJHN0YW5kYXJkLWJsdWU6ICMwMTU4OWQ7XG4kY2FtcHVzLXllbGxvdzogI2ZkYzcwMDtcbiR3aGl0ZTogI2ZmZjtcblxuXG4ueWVhcmRyb3Bkb3duIHNlbGVjdCB7XG4gYmFja2dyb3VuZDogIzE3NzliYTtcbiBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCJkYXRhOmltYWdlL3N2Zyt4bWw7dXRmOCw8c3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgdmVyc2lvbj0nMS4xJyB3aWR0aD0nMzInIGhlaWdodD0nMjQnIHZpZXdCb3g9JzAgMCAzMiAyNCc+PHBvbHlnb24gcG9pbnRzPScwLDAgMzIsMCAxNiwyNCcgc3R5bGU9J2ZpbGw6IHJnYiUyODI1NSwgMjU1LCAyNTUlMjknPjwvcG9seWdvbj48L3N2Zz5cIikgIWltcG9ydGFudDtcbiBiYWNrZ3JvdW5kLW9yaWdpbjogY29udGVudC1ib3g7XG4gYmFja2dyb3VuZC1wb3NpdGlvbjogcmlnaHQgLTFyZW0gY2VudGVyO1xuIGJhY2tncm91bmQtc2l6ZTogOXB4IDZweDtcbiBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuIGJvcmRlcjogbm9uZTtcbiBjb2xvcjogI2ZmZjtcbn1cblxuLyogRW5kIHNlbGVjdCB5ZWFyICovXG5cbi8qTG9jYXRpb24gYWRkcmVzcyAqL1xuLmxvY2F0aW9uLWFkZHJlc3MgaDQgc21hbGwge1xuICBjb2xvcjogIzY2NiAhaW1wb3J0YW50O1xufVxuXG4ucHJvZmlsZS1saXN0IC5wcm9maWxlIHtcblx0cGFkZGluZzogMXJlbSAxcmVtIDJyZW07XG59XG5cbi5wcm9maWxlIC5pbWFnZSB7XG5cdG1heC1oZWlnaHQ6IDI3NXB4O1xufVxuXG4udGFncyBwIHtcblx0Zm9udC1zaXplOiAxcmVtXG59XG5cbmEud2hpdGVsaW5rLFxuYS53aGl0ZWxpbms6YWN0aXZlIHtcblx0Y29sb3I6ICNmZmY7XG5cdHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblxuYS53aGl0ZWxpbms6aG92ZXIsXG5hLndoaXRlbGluazpmb2N1cyB7XG5cdHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xufVxuXG4uc2lkZWJhci1uYXYge1xuXHRsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG5cdG1hcmdpbi1sZWZ0OiAwO1xuXHRwYWRkaW5nLWxlZnQ6IDA7XG59XG5cbi5zaWRlYmFyLW5hdiBsaSB7XG5cdHBhZGRpbmc6IDAgMCAxMHB4O1xuXHRtYXJnaW46IDA7XG59XG5cbi5zaWRlYmFyLW5hdiBsaSAuYnV0dG9uIHtcblx0cGFkZGluZzogMDtcblx0bWFyZ2luOiAwO1xufVxuXG4uYXJjaGl2ZS1jb250YWluZXIge1xuXHRwYWRkaW5nOiAxZW07IFxuXHRiYWNrZ3JvdW5kOiAjZmZmOyBcblx0ZGlzcGxheTogYmxvY2s7IFxuXHRtYXJnaW46IDFlbSAwO1xufVxuXG4uYXJjaGl2ZS15ZWFyIHtcblx0cGFkZGluZy1ib3R0b206IC41ZW07IFxuXHRib3JkZXItYm90dG9tOiAxcHggc29saWQgI2RkZDtcblx0bWFyZ2luLWJvdHRvbTogMWVtO1xufVxuXG4uYXJjaGl2ZS15ZWFyIHVsIHtcblx0bGlzdC1zdHlsZS10eXBlOiBub25lOyBcblx0bWFyZ2luOiAwOyBcblx0cGFkZGluZzogMDtcbn1cblxuLmFyY2hpdmUteWVhciB1bCBsaSB7XG5cdGRpc3BsYXk6IGlubGluZS1ibG9jazsgXG5cdHBhZGRpbmc6IDAgMTBweCAwIDVweDsgXG5cdGJvcmRlci1yaWdodDogMXB4IHNvbGlkICNkZGQ7XG59XG5cbi5hcmNoaXZlLXllYXIgdWwgbGk6bGFzdC1jaGlsZCB7XG5cdGRpc3BsYXk6IGlubGluZS1ibG9jazsgXG5cdHBhZGRpbmc6IDAgMTBweCAwIDVweDsgXG5cdGJvcmRlci1yaWdodDogMHB4O1xufVxuXG4jc2VhcmNoLXJlc3VsdHMge1xuXHRtYXJnaW4tdG9wOiAzZW07XG5cdGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcbn1cblxuXG4jc2VhcmNoLXJlc3VsdHMgbGkge1xuIGJhY2tncm91bmQ6ICR3aGl0ZTtcbiBib3JkZXItcmFkaXVzOiAuMjVlbTtcbiBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gbWFyZ2luLWJvdHRvbTogM2VtO1xuIHBhZGRpbmc6IDFlbTtcbiB3aWR0aDogMTAwJTtcbn1cblxuXG5cbi8qRW5kIGxvY2F0aW9uIGFkZHJlc3MgKi9cblxuLy8gTWVkaXVtIHNjcmVlbnNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNDBlbSkge1xuXG5cbn1cblxuXG4vLyBNZWRpdW0gc2NyZWVuc1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA0MC4wNjNlbSkgeyBcblxuIFxuXG59IFxuLyogbWluLXdpZHRoIDY0MXB4LCBtZWRpdW0gc2NyZWVucyAqL1xuXG4vLyBMYXJnZSBzY3JlZW5zXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDY0LjA2M2VtKSB7IFxuIFxuIFxuXG59IFxuLyogbWluLXdpZHRoIDEwMjVweCwgbGFyZ2Ugc2NyZWVucyAqL1xuXG4vLyBYTGFyZ2Ugc2NyZWVuc1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA5MC4wNjNlbSkge1xuIFxuXG5cbn0gXG4vKiBtaW4td2lkdGggMTQ0MXB4LCB4bGFyZ2Ugc2NyZWVucyAqL1xuXG4vLyBYWExhcmdlIHNjcmVlbnNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMTIwLjA2M2VtKSB7XG5cbn0gXG4vKiBtaW4td2lkdGggMTkyMXB4LCB4eGxhcmdlIHNjcmVlbnMgKi8iXX0= */
