#mainContent .contentBox {
	 padding:10px !important;
	 border-bottom:none !important;
	 background-color:#F2F0E4 !important;
}
 #boardwrap {
	 background:transparent url(images/clock-main.jpg) no-repeat center top;
	 height:487px;
	 margin:0 auto;
	 position:relative;
	 width:766px;
}
 #flipboard {
	 border-bottom:1px solid transparent;
	 border-right:1px solid #4A4849;
	 position:absolute;
	 left:309px;
	 top:58px;
	 overflow:hidden;
}
 #myButton {
	 font-family:Courier, monospace;
	 font-size:18px;
	 color:green;
	 display:block;
	 width:10%;
	 padding:8px 12px;
	 text-align:center;
	 text-decoration:none;
	 position:absolute;
	 left:340px;
	 top:76%;
}
 #numbers {
	 position:absolute;
	 top:72%;
	 width:100%;
	 font-family:Courier, monospace;
	 font-size:16px;
	 text-align:center;
	 display:none;
	 color:#;
}
 #numbers input {
	 background-color:rgba(255,255,255,0.95);
	 font-family:Courier;
	 font-size:22px;
	 width:1.8em;
	 text-align:center;
	 border:none;
	 padding:4px;
	 color:#000;
	 -webkit-border-radius:4px;
	 -moz-border-radius:4px;
	 -o-border-radius:4px;
	 border-radius:4px;
	 text-shadow:;
}
 #numbers #submit_numbers {
	 width:7em;
	 cursor: pointer;
	 outline: none;
	 margin-left:0.6em;
}
 