ul.wi-container {
	 width: 190px;
	 height: 225px;
	 margin: 0 0 5px;
	 position: relative;
	 padding: 0;
	 list-style-type: none;
	 -webkit-perspective: 1400px;
	 -moz-perspective: 1400px;
	 -ms-perspective: 1400px;
	 -o-perspective: 1400px;
	 perspective: 1400px;
	 background: none;
}
 ul.wi-container li {
	 width: 540px;
	 height: 225px;
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background: none;
	 padding: 0;
	 pointer-events: auto;
}
 ul.wi-container li.wi-move {
	 pointer-events: none;
	 -webkit-transition: -webkit-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	 -moz-transition: -moz-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	 -o-transition: -o-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	 -ms-transition: -ms-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	 transition: transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
}
 ul.wi-container .content-box {
	 width: 520px;
	 height: 225px;
	 position: absolute;
	 z=index: 10000;
	 display: block;
	 padding: 10px;
	 color: #FFF;
	 font-size: 11px;
	 line-height: 17px !important;
}
 .content-box h3 {
	 font-size: 20px;
	 margin: 0;
	 padding: 0;
	 color: #FFF !important;
	 font-weight: bold !important;
}
 .content-box p strong {
	 width: 325px;
	 display: block;
	 margin: 0 0 5px 0;
	 padding: 0;
	 color: #FFF !important;
	 font-size: 12px !important;
}
 .content-box p {
	 width: 325px;
	 font-size: 12px;
	 display: block;
	 margin: 5px 0 5px 0;
	 padding: 0;
	 line-height: 17px !important;
}
 .content-box img {
	 width: 200px;
	 float: right;
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	 -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	 box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}
 .readmore-button {
	 display: block;
	 padding: 2px;
	 width: 85px;
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border: 1px solid #FFF;
	 background-color: #f1b521;
	 -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	 -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	 box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	 background: -webkit-gradient(linear, left top, left bottom, from(#f4d17a), to(#f1b521));
	 background: -webkit-linear-gradient(#f4d17a, #f1b521);
	 background: -moz-linear-gradient(top, #f4d17a, #f1b521);
	 background: -ms-linear-gradient(#f4d17a, #f1b521);
	 background: -o-linear-gradient(#f4d17a, #f1b521);
	 background: linear-gradient(#f4d17a, #f1b521);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4d17a', endColorstr='#f1b521');
	 text-align: center;
}
 