.windy {
	 width: 540px;
	 margin: 0 auto;
	 color: #aaa;
	 margin: 10px 0 10px -20px !important;
}
 .windy ul.wi-container {
	 width: 540px;
	 height: 225px;
	 margin: 0px !important;
	 padding: 0px !important;
}
 .windy ul.wi-container li {
	 padding: 0;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}
 #slider {
	 width: 100px;
	 margin: 20px 0 0px 430px;
	 border-radius: 5px;
	 border: none;
	 box-shadow: 0 1px 1px rgba(255,255,255,0.8), inset 0 1px 2px rgba(0,0,0,0.3), 0 0 0 8px rgba(0,0,0,0.1), 0 1px 1px 8px rgba(255, 255, 255, 0.8);
	 background: #b0d4e3;
	 background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf));
	 background: -webkit-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	 background: -o-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	 background: -ms-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	 background: linear-gradient(to bottom, #b0d4e3 0%,#88bacf 100%);
}
 #slider a {
	 outline: none;
	 cursor: pointer;
	 border: none;
	 background: white;
	 border-radius: 50%;
	 color: #333;
	 box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}
 .next {
	 display: block;
	 z-index: 999;
	 position: absolute;
	 width: 22px;
	 font-size: 30px;
	 margin: -18px 0 0 540px !important;
}
 .previous {
	 display: block;
	 z-index: 999;
	 position: absolute;
	 width: 22px;
	 font-size: 30px;
	 margin: 12px 0 0 405px !important;
}
