---

---

/* colors */
$standard-blue: #01589d;
$campus-yellow: #fdc700;
$white: #fff;


.yeardropdown select {
 background: #1779ba;
 background-image: url("data:image/svg+xml;utf8,<svg xmlns='https://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>") !important;
 background-origin: content-box;
 background-position: right -1rem center;
 background-size: 9px 6px;
 background-repeat: no-repeat;
 border: none;
 color: #fff;
}

/* End select year */

/*Location address */
.location-address h4 small {
  color: #666 !important;
}

.profile-list .profile {
	padding: 1rem 1rem 2rem;
}

.profile .image {
	max-height: 275px;
}

.tags p {
	font-size: 1rem
}

/*End location address */

// Medium screens
@media only screen and (max-width: 40em) {


}


// Medium screens
@media only screen and (min-width: 40.063em) { 

 

} 
/* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) { 
 
 

} 
/* min-width 1025px, large screens */

// XLarge screens
@media only screen and (min-width: 90.063em) {
 


} 
/* min-width 1441px, xlarge screens */

// XXLarge screens
@media only screen and (min-width: 120.063em) {

} 
/* min-width 1921px, xxlarge screens */