#form_header {
	 position:relative;
	 line-height:1em;
	 width: 539px;
}
 .filterform {
	 width:300px;
	 height: 30px;
	 font-size:12px;
	 display:block;
}
 .filterform input {
	 width:300px;
	 height: 30px;
	 -moz-border-radius:5px;
	 border-radius:5px;
	 -webkit-border-radius:5px;
	 font-size: 16px;
}
 #mainContent ul li {
	 background-image: none !important;
}
 #mainContent .search {
	 font-size:1.4em;
	 padding:0.3em 0.5em;
	 margin:-10px 0 1em 0;
	 border:1px solid #D19001;
	 border-radius:5px;
	 -moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 width:320px;
}
 #events-list {
	 padding: 0 0 0 0;
	 width: 475px;
	 margin: 0 0 0 50px;
	 clear: both;
}
 #list {
	 display:block !important;
	 border-left:1px dotted #D19001;
	 margin: 20px 0 0 0 !important;
}
 .date_container h2 {
	 display: block !important;
	 margin: 0 0 0 -85px !important;
	 padding: 0 5px 9px 0!important;
	 width: 64px !important;
	 text-align: right;
	 position: absolute;
	 line-height: 27px !important;
	 font-size: 20px !important;
	 border-bottom: 3px solid #F1B521;
}
 .date_container h2 strong {
	 font-size: 30px !important;
	 padding: 0 0 10px 0 !important;
}
 .date_container .day {
	 display: block;
	 padding: 5px 5px 5px 5px;
	 margin: 0 0 0 -15px;
	 font-size: 20px;
	 width: 499px;
	 position: absolute;
	 line-height: 79px !important;
	 height: 53px;
	 border-bottom: 3px solid #F1B521;
}
 .date_container {
	 display: block;
	 height: 60px;
	 padding: 0 0 5px 0 !important;
	 margin: 10px 0 22px 0 !important;
	 color: #605F5D !important;
	 list-style-type: none;
}
 .clear {
	 clear: both;
}
 .spacer {
	 margin: 0 0 0 0 !important;
	 padding: 0 0 20px 20px !important;
}
 li strong {
	 font-size: 15px !important;
	 color: #605F5D;
}
 li b {
	 display: block;
	 padding: 0 0 0 15px;
	 border-bottom: 1px dotted #F1B521;
	 margin: 5px 0 5px -15px;
}
