<div class="alert-low" data-closable>
  <div class="callout secondary">
    <div class="grid-container large text-center">
      <p><strong>Events may be rescheduled due to impacts from the wildfires.</strong> Please check <a href="https://events.ucsc.edu">events.ucsc.edu</a> for updates.</p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="grid-container large text-center">
      <p><strong>COVID-19 (Coronavirus) impact on events</strong>: Events may be rescheduled or canceled in <a href="https://www.ucsc.edu/coronavirus/">response to Coronavirus concerns</a>. Please check event listings for updates.</p>
    </div>
  </div>
</div>


