<div class="alert-low" data-closable>
  <div class="callout alert">
    <div class="grid-container large text-center">
      <p><strong>COVID-19 (Coronavirus) impact on events</strong>: Events may be rescheduled or canceled in response to Coronavirus concerns. <a class="btn-link" href="https://www.ucsc.edu/coronavirus/">View Details</a></p>

      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
