{% assign event-list = site.events | sort: 'date' | where: 'tags','Featured' | reverse %}
{% for event in event-list limit:1 %}
  <div class="hero-viewport inner-page-standard wave-pattern blue">
      <div class="grid-container large">
          <div class="hero-container">
              <div id="hero" class="hero hero-text-left">
                  {% if page.layout == 'landing' %}
                  <img src="{{ site.baseurl }}{{ page.billboard.image }}" />
                  <div class="hero-text">
                      <p class="category"><large>{{ page.billboard.subtitle }}</large></p>
                      <div class="underline isolated">
                          <!-- Billboard title -->
                          <h1 class="hero-header">
                            {{ page.title }}
                          </h1>
                          <!-- End billboard title -->
                            <p class="hero-body">
                              <large class="event-details">
                            {% if page.billboard.day != null %}
                              {% if page.billboard.day != null %}
                                {{ page.billboard.day }}, {% endif %}{{ page.billboard.month}} {% if page.billboard.date != null %}{{ page.billboard.date }}, {{ page.billboard.year }} <br/>
                              {% endif %}
                              {% if page.location.location-name != null %}
                                {{ page.location.location-name }} <br/>
                              {% endif %}
                              {% if page.billboard.starttime != null %}
                                {{ page.billboard.starttime }} {% if page.billboard.endtime != null %} — {% endif %} {{ page.billboard.endtime }}
                              {% endif %}
                            {% endif %}
                          </large>
                          <large class="event-description">
                            
                            {% if page.billboard.description-text != null %}
                              {{ page.billboard.description-text }}
                            {% endif %}
                          </large>
                          
                          {% if page.registration-url != null %}
                            {% if page.register-text != null %}
                              <a class="button primary expanded" href="{{ page.registration-url }}">{{ page.register-text }}</a></p>
                            {% else %}
                              <a class="button primary expanded" href="{{ page.registration-url }}">Register Now</a></p>
                            {% endif %}
                          {% endif %}
                      </div>
                    </a>
                    {% endif %}
                  {% if page.layout == 'home-page' %}
                  <img src="{{ site.baseurl }}{{ event.billboard.image }}" alt="{{ event.title }}"/>
                  <div class="hero-text">
                      <p class="category"><large>{{ event.billboard.subtitle }}</large></p>
                      <div class="underline isolated">
                          <h1 class="hero-header">
                            {% if event.billboard.homepage-title != null %}
                              {{ event.billboard.homepage-title }}
                            {% else %}
                              {{ event.title }}
                            {% endif %}
                          </h1>
                          {% if event.billboard.month != null %}
                            <p class="hero-body"><large>
                              {% if event.billboard.day != null %}
                                {{ event.billboard.day }}, {% endif %} {{ event.billboard.month}} {% if event.billboard.date != null %} {{ event.billboard.date }}, {{ event.billboard.year }} <br/>
                              {% endif %}
                              {% if event.location.location-name != null %}
                                {{ event.location.location-name }} <br/>
                              {% endif %}
                              {% if event.billboard.starttime != null %}
                                {{ event.billboard.starttime }} 
                                 {% if event.billboard.endtime != null %} — {% endif %}
                                {{ event.billboard.endtime }}
                              {% endif %}
                            </large>
                          {% endif %}

                          <a class="button primary expanded" href="{{site.baseurl}}{{ event.url }}.html">Event Details</a></p>
                      </div>
                    </a>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endfor %}
