{% for event in site.events %}
  <div class="hero-viewport inner-page-standard wave-pattern blue">
      <div class="grid-container large">
          <div class="hero-container">
              <div id="hero" class="hero hero-text-left">
                  <img src="{{ site.baseurl }}{{ event.billboard.image }}" />
                  <div class="hero-text">
                    {% if page.layout == 'landing' %}
                      <a href="#" class="">
                        <p class="category btn-link"><large>{{ page.billboard.subtitle }}</large></p>
                        <div class="underline isolated">
                            <h1 class="hero-header">{{ page.title }}</h1>
                            <p class="hero-body"><large>{{ page.billboard.day }}, {{ page.billboard.month}} {{ page.billboard.date }}, {{ page.billboard.year }}</large>
                            <a class="button primary expanded" href="{{ page.registration }}">Register Now</a></p>
                        </div>
                      </a>
                    {% endif %}
                    {% if page.layout == 'home-page' %}
                    <a href="#" class="">
                      <p class="category btn-link"><large>{{ event.billboard.subtitle }}</large></p>
                      <div class="underline isolated">
                          <h1 class="hero-header">{{ event.title }}</h1>
                          <p class="hero-body"><large>{{ event.billboard.day }}, {{ event.billboard.month}} {{ event.billboard.date }}, {{ event.billboard.year }}</large>
                          <a class="button primary expanded" href="{{site.baseurl}}{{ event.url }}.html">Go!</a></p>
                      </div>
                    </a>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endfor %}
