<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
            	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            		<li><a href="/specialevents-site/">Special Events Home</a></li>
            		{% for crumb in crumbs offset: 1 %}
            			{% if forloop.last %}
            				&nbsp;&nbsp;/&nbsp;&nbsp; {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
            			{% else %}
                		<li>
                			 <a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"><span class="show-for-sr">Current: </span>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                		</li>
                	{% endif %}
              	{% endfor %}
            </ul>
        </nav>
    </div>
</div>
