
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' *.ucsc.edu; img-src 'self' *.ucsc.edu data:; script-src 'self';script-src-elem 'self' 'unsafe-inline' *.cloudflare.com *.netlify.com www.google-analytics.com ajax.googleapis.com *.googletagmanager.com *.fontawesome.com unpkg.com siteimproveanalytics.com *.ucsc.edu; style-src 'self' 'unsafe-inline' *.ucsc.edu *.googleapis.com; font-src 'self' fonts.gstatic.com *.fontawesome.com; style-src-elem data: 'self' 'unsafe-inline' *.cloudfront.net fonts.googleapis.com fonts.gstatic.com unpkg.com *.fontawesome.com *.ucsc.edu;">
  <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon"/>
  <link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
  <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

  <!-- search -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>

</head>

<body class="subsite-wrapper">
<div class="skipnav"><a href="#main-content">Skip to main content</a></div>

  <div id="page">

