
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />

  <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon"/>
  <link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
  <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

  <!-- search -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>

</head>

<body class="subsite-wrapper">
<div class="skipnav"><a href="#main-content">Skip to main content</a></div>

  <div id="page">

