{% if page.tags contains 'Event' %}
<head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
            <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon"/>
            <link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon"/>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
                integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
            <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
            <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

            <!-- search -->
            <script src="https://unpkg.com/lunr/lunr.js"></script>

        </head>

        <body class="subsite-wrapper">
          <div class="skipnav"><a href="#main-content">Skip to main content</a></div>

            <div id="page">
                <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
                
                  <div class="scroll">
                    <div class="close-main">
                        <button class="close-button" aria-label="Close menu" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                              
                    <div class="menu-id">
                        <img class="white-ucsc-logo" src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                    </div>
                    
                    <div class="aev-links">
                        <div class="expanded button-group">
                            <a class="button solid white-text" href="https://admissions.ucsc.edu/apply/">Apply</a>
                            <a class="button solid white-text" href="https://www.ucsc.edu/visit/index.html">Visit</a>
                            <a class="button solid white-text" href="https://giving.ucsc.edu">Engage</a>
                        </div>
                    </div>

                      <!-- Special Events -->
              
                      <!-- end Special Events -->
              
              
                    <div class="global-links">
                        <ul class="vertical menu">
                            <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=110f00jrrbrh7marvjot3soxo?execution=e1s1" aria-label=""><span>MyUCSC</span></a></li>
                            <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label=""><span>Calendars</span></a></li>
                            <li><a href="https://www.ucsc.edu/tools/people.html" aria-label=""><span>Directories</span></a></li>
                        </ul>
                    </div>
                  </div>
            
                </div>
              
              </div>
              
              <div data-sticky-container>
                  <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
          
                      <div class="global-header">
                      
                          <div class="grid-container large">
                                  <div class="site-logo global">
                                      <a href="{{ site.baseurl }}/">
                                          <img src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg">
                                      </a>
                                  </div>
                              <div class="aev-menu">
                                  <ul class="menu">
                                      <li><a href="https://admissions.ucsc.edu/apply/">Apply</a></li>
                                      <li><a href="https://giving.ucsc.edu">Engage</a></li>
                                      <li><a href="https://www.ucsc.edu/visit/index.html">Visit</a></li>
                                  </ul>
                              </div>
                              
                              <div class="global-menu">
                                  <ul class="menu">
                                      <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=110f00jrrbrh7marvjot3soxo?execution=e1s1" aria-label=""><span>MyUCSC</span></a></li>
                                      <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label=""><span>Calendars</span></a></li>
                                      <li><a href="https://www.ucsc.edu/tools/people.html" aria-label=""><span>Directories</span></a></li>
                                      <li class="show-for-large search-button">
                                          <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                      </li>
                                  </div>
                      
                          </div>
                      
                      </div>
                      <div class="mobile-menu">
                              <a class="mobile-menu-logo" href="{{ site.baseurl }}/">
                                  <img src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                              </a>
                              <ul class="menu">
                                  <li>
                                      <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                          <i class="fas fa-search"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                          <span>Menu</span>
                                          <span class="fa fa-bars" aria-hidden="true"></span>
                                      </a>
                                  </li>                   
                              </ul>
                      </div>
                      
                  
                  </div>
              </div>
    {% else %}
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
      <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon"/>
      <link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon"/>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
      <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    </head>

    <body class="subsite-wrapper">
      <div class="skipnav"><a href="#main-content">Skip to main content</a></div>

      <div id="page">
          <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
          
              <div class="scroll">
                      <div class="close-main">
                          <button class="close-button" aria-label="Close menu" type="button" data-close>
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                            
                      <div class="menu-id">
                          <img class="white-ucsc-logo" src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                      </div>
                  
                      <div class="aev-links">
                          <div class="expanded button-group">
                              <a class="button solid white-text" href="https://admissions.ucsc.edu/apply/">Apply</a>
                              <a class="button solid white-text" href="https://www.ucsc.edu/visit/index.html">Visit</a>
                              <a class="button solid white-text" href="https://giving.ucsc.edu">Engage</a>
                          </div>
                      </div>
          
          
          
          
          
                      <!-- Special Events -->
              
                      <!-- Subsite Menu-->
                      <div class="primary-links lower-divider">
                          <ul class="menu">
                              <li><a href="{{ site.baseurl }}/events/" aria-label="">Special Events Archive</a></li>
                              <li><a href="{{ site.baseurl }}/help-in-planning.html" aria-label="">Help in Planning</a></li>
                              <li><a href="{{ site.baseurl }}/campus-venues.html" aria-label="">Campus Venues</a></li>
                              <li><a href="{{ site.baseurl }}/contact.html" aria-label="">Contact</a></li>
                          </ul>
                      </div>
          
          
                      <!-- end Special Events -->
              
              
                      <div class="global-links">
                          <ul class="vertical menu">
                              <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO?execution=e1s1" aria-label=""><span>MyUCSC</span></a></li>
                              <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label=""><span>Calendars</span></a></li>
                              <li><a href="https://www.ucsc.edu/tools/people.html" aria-label=""><span>Directories</span></a></li>
                          </ul>
                      </div>
                      
                  </div>
          
              </div>
          
          </div>
          
          <div data-sticky-container>
              <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
      
                  <div class="global-header">
                  
                      <div class="grid-container large">
                              <div class="site-logo global">
                                  <a href="{{ site.baseurl }}/">
                                      <img src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg">
                                  </a>
                              </div>
                          <div class="aev-menu">
                              <ul class="menu">
                                  <li><a href="https://admissions.ucsc.edu/apply/">Apply</a></li>
                                  <li><a href="https://giving.ucsc.edu">Engage</a></li>
                                  <li><a href="https://www.ucsc.edu/visit/index.html">Visit</a></li>
                              </ul>
                          </div>
                          
                          <div class="global-menu">
                              <ul class="menu">
                                  <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=110f00jrrbrh7marvjot3soxo?execution=e1s1" aria-label=""><span>MyUCSC</span></a></li>
                                  <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label=""><span>Calendars</span></a></li>
                                  <li><a href="https://www.ucsc.edu/tools/people.html" aria-label=""><span>Directories</span></a></li>
                                  <li class="show-for-large search-button">
                                      <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                  </li>
                              </div>
                  
                      </div>
                  
                  </div>
                  <div class="mobile-menu">
                          <a class="mobile-menu-logo" href="#">
                              <img src="{{ site.baseurl }}/assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                          </a>
                          <ul class="menu">
                              <li>
                                  <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                      <i class="fas fa-search"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                      <span>Menu</span>
                                      <span class="fa fa-bars" aria-hidden="true"></span>
                                  </a>
                              </li>                   
                          </ul>
                  </div>
                  <div class="subsite-header">
                      <!--------------------------------------------->
                      <!------------- Custom Subsite Logo ----------->
                      <!--------------------------------------------->
                      
                  
                      <!--------------------------------------------->
                      <!--------------- Subsite Template ------------>
                      <!--------------------------------------------->
                  
                  
                  
                      <!--------------------------------------------->
                      <!--------------- News Template  -------------->
                      <!--------------------------------------------->
                  
                      <!-- Special events -->
                  
                          
                          <div class="grid-container large">
                              <div class="grid-x large-padding-collapse large-margin-collapse">
                                  <div class="cell large-3">
                                      <div class="subsite-brand-container">
                                          <a href="{{ site.baseurl }}/" aria-label="Return to news home page">
                                              <h1>Special Events</h1>
                                          </a>
                                      </div>                </div>
                                  <div class="cell auto">
                                      
                                      <ul class="menu">
                                          <li><a href="{{ site.baseurl }}/events/" aria-label="">Special Events Archive</a></li>
                                          <li><a href="{{ site.baseurl }}/help-in-planning.html" aria-label="">Help in Planning</a></li>
                                          <li><a href="{{ site.baseurl }}/campus-venues.html" aria-label="">Campus Venues</a></li>
                                          <li><a href="{{ site.baseurl }}/contact.html" aria-label="">Contact</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                         
                  
                      
                  </div>
              
              </div>
          </div>
        
{% endif %}
                   