<!-- /sprflt -->
        
        <div class="main-footer">
          <div class="row" id="footer">
              <div class="footer-left">
                  <img alt="University of California" class="seal" height="84" src="https://static.ucsc.edu/_responsive/images/logos/uc-seal.svg" width="84"/>
<div class="address home">
<div class="location">UC Santa Cruz, 1156 High Street, Santa Cruz, Ca 95064</div>
<div class="copyright">&#169;2019 Regents of the University of California. All Rights Reserved.</div>
</div>
              </div>
              <div class="footer-right">
                  

<div class="social-media">
            
        
        <a href="https://www.twitter.com/ucsc"><i class="fab fa-twitter"></i></a>
            
        
        <a href="https://www.instagram.com/ucsc"><i class="fab fa-instagram"></i></a>
            
        
        <a href="https://www.facebook.com/ucsantacruz"><i class="fab fa-facebook-f"></i></a>
            
        
        <a href="https://youtube.com/ucsantacruz"><i class="fab fa-youtube"></i></a>
            
        
        <a href="https://www.linkedin.com/groups?home=&amp;gid=102708"><i class="fab fa-linkedin-in"></i></a>
    </div>

<div class="links">
            
                            
        <a href="/feedback/index">Feedback</a> 
    </div>

              </div>
          </div>
          <div class="sub-footer row">
              <div class="legal">
                <ul class="legal">
<li><a href="https://academicaffairs.ucsc.edu/accreditation/">Accreditation</a></li>
<li><a href="https://diversity.ucsc.edu/eeo-aa/images/non-discrimination.pdf">Non-Discrimination&#160;Policy</a></li>
<li><a href="https://www.ucsc.edu/about/employment.html">Employment</a></li>
<li><a href="https://its.ucsc.edu/terms/">Privacy&#160;Policy&#160;&amp;&#160;Terms&#160;of&#160;Use</a></li>
<li><a href="https://safe.ucsc.edu">Sexual&#160;Violence&#160;Prevention&#160;&amp;&#160;Response</a></li>
</ul>
                
<p class="page-meta">
    Last modified: January 29, 2018  <span class="check-ip">128.114.113.74</span>
</p>
              </div>
          </div>   
        </div>

    </div><!-- /content -->
  </div><!-- /container -->
</div><!-- /wrap -->

<!-- BLOCK: uniform campus bottom scripts  -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RFHNC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5RFHNC');</script>
<!-- End Google Tag Manager -->
<!-- Siteimprove -->
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_8343.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>
<!-- end Siteimprove -->


<!-- END BLOCK: uniform campus bottom scripts  -->



</body>
</html>