<h4>Profile</h4>
        <ul>
        <li><a href="http://www.ucsc.edu/about/campus_overview.asp">History and Overview</a></li>
        <li><a href="http://www.ucsc.edu/today/">UCSC Today</a></li>
        <li><a href="http://www.ucsc.edu/about/public_resources.asp">Public Resources</a></li>
        </ul>

      <h4>In Service </h4>
        <ul>
        <li><a href="http://www.ucsc.edu/about/contributions.asp">Contributions to Community</a></li>
        <li><a href="http://www.ucsc.edu/about/economic_impact.asp">Economic Impact</a></li>
        </ul>

      <h4>Academic Divisions</h4>
        <ul>
        <li><a href="http://arts.ucsc.edu">Arts</a></li>
        <li><a href="http://www.cse.ucsc.edu/">Engineering</a></li>
        <li><a href="http://humwww.ucsc.edu/">Humanities</a></li>
        <li><a href="http://pbsci.ucsc.edu/">Physical &amp; Biological Sciences</a></li>
        <li><a href="http://socialsciences.ucsc.edu/">Social Sciences</a></li>
        </ul>   

        <h4>The Colleges</h4>
        <ul>
        <li><a href="http://www.ucsc.edu/about/colleges.asp">About UCSC's Ten Colleges</a></li>
        </ul>

<!-- This is the grey text at the bottom of the sidebar with contact/copyright info -->
        <p class="information">
          <span class="copyright">&copy; 2010 The Regents of the University of California. All rights reserved.</span>
          Maintained by <a href="mailto:pioweb@ucsc.edu">pioweb@ucsc.edu</a><br />
               <br />
               <span style="font-size:8px;">10/25/10 | jnw</span> 
        </p>
<!-- Left column content ENDS here -->

        </div><!-- /inner -->       
     </div>
  </div>
</div> 
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RFHNC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5RFHNC');</script>
<!-- End Google Tag Manager -->
<!-- Siteimprove -->
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_8343.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>
<!-- end Siteimprove -->


</body>
</html>