/* @override 
	https://ucsc.edu/founders/css/custom.css
	https://www.ucsc.edu/founders/css/custom.css
*/


#hd #site span { background:#457ab8 url(/assets/images/bg_head.jpg) no-repeat left top; }
#center h3 {clear:left; }
#center img.left { margin-bottom:2em; }

a.pdf { display:block; padding:4px 4px 4px 26px; background:transparent url(../../images/icon_pdf.gif) no-repeat 4px center; }

a.pdf:focus,
a.pdf:hover { background-color:#ffffff; text-decoration:none; }


.register { margin-top:8px; }
.register a { 
display:block;
padding:4px 6px;
background-color:#285991;
color:#ffffff;
border:1px solid #e7f0f6;
text-decoration:none;
-moz-box-shadow:0px 0px 10px #666;
-webkit-box-shadow:0px 0px 10px #666;
box-shadow:0px 0px 10px #666;
}

.register a:focus,
.register a:hover {
background-color:#ffdf82;
border-color:#285991;
color:#285991;
}

.columns { margin:1em 0; clear:both; padding-top:1em; }
.columns li { height:107px; padding:4px; background-color:#ccc; margin:0 0 8px 8px; padding:0; list-style-image:none; list-style:none; width:160px; text-align:center; overflow:hidden; }



.instructions { margin:1.4em 0; }
.instructions li { float:left; list-style-image:none; list-style-type:none; width:220px; font-size:11px; color:#666; }
.instructions li img { float:left; }
.instructions li span { display:block; float:right; width:126px; }


/* STYLES ADDED FOR 2010 FOUNDERS DAY | JNW */
.honoreeDiv
{
	border:1px solid #dde6eb;
	background:#fff url(../../assets/images/2010/honoreeInfoBG.gif) no-repeat top left;
	padding:10px;
	margin:0px;
	margin-bottom:15px;
}

.blurbDiv
{
	float:left;
	width:380px;
	padding:0px 0px 0px 20px;
	border-left:1px solid #dde6eb;
	margin:0px 0px 0px 20px;
}

.blurbDiv p
{
	margin:0px;
	padding:0px;	
}

.eventInfo
{
	background-color:#fff;
	border:1px solid #dde6eb;
	padding:5px;	
	padding-left:10px;
	background:#fff url(../../assets/images/2010/event_bground.gif) no-repeat top left;
	
}
h4.eventDate
{
	border-bottom:1px solid #ccc;
	background-color:#dde6eb;
	padding:5px;	
	background:#dde6eb url(../../assets/images/2010/h_compassrose2.gif) no-repeat top left;
	text-align:center;
	font-size:11px;
	color:#fff;
	letter-spacing:2px;
}

.dayofWeek
{
	font-weight:normal;
	letter-spacing:normal;
	font-size:10px;
	float:right;
	font-style:italic;
	padding-right:5px;
	margin-right:0px;
}

.fullDay
{
	font-size:11px;
	color:#fff;
	letter-spacing:2px;
	float:left;
	padding-left:10px;
}

.galaDinner
{
	border:1px dotted #285991;
	padding:10px;
	background-color:#fff;
	display:none;
}

.imgDiv 
{
	float:left;
	width:125px;
	padding:0px;
	margin:0px;
}

.blurbDiv .caption 
{
	font-size:9px;
	color:#aaa;
	margin:0px;
	padding:0px;
	padding-top:7px;
}
.imgDiv img.borderImg
{
	border:1px solid #ddd;
}
.clearer 
{
	clear:both;
}

h3.dotted 
{
	color:#222;
	border:1px solid #dde6eb;
	border-bottom-width:0px;
	padding:7px 0px 6px 10px;
	text-shadow: 1px 1px 2px #bbb;
	margin:0px;
	letter-spacing: 2px;
}
.registerButton
{
	background-color:#fff;
	padding:5px 0px;	
	margin:0px 0px 0px 0px;
	text-align:center;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	background-color:#8B764A;
	border-color:#73633D;
	border-style:solid;
	border-width:1px;
	font-size:11px;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	margin:6px;
	color:#FFFCF4;	

}

.registerButton a
{
	color:#fff;
	text-decoration:none;
}  
.registerButton a:visited
{
	color:#fff;	
	text-decoration:none;
}
.registerButton a:hover
{
	color:#fff;
	text-decoration:underline;
	
}
.moreInformation
{
	margin:0px;
	padding:3px;
	padding-right:10px;
	background-color:#aaa;
	color:#fff;	
	font-weight:bold;
	font-size:10px;
	cursor:pointer;
	text-align:left;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;

}
.moreInformation:hover
{
	background-color:#eee;
	color:#444444;	
}
.eventTitle
{
	font-size:13px;	
}

@media only screen and (min-width: 48em) {
    .award h3 {
        margin-top: .75em !important;
    }
}