/* @override https://events.ucsc.edu/evrev/stylesheets/home.css */
 #description_text {
	 color: #FFF;
	 font-size: 14px;
	 text-shadow: black 0.2em 0.2em 0.4em;
}
 #tribute_text {
	 display: block;
	 padding-top: 10px;
	 font-weight: normal;
	 font-style: italic;
}
 #content_when_where_tickets {
	 border-left: 1px solid #FFF;
	 color: #FFF;
	 text-align: center;
	 font-size: 12px;
	 font-weight: bold;
	 width:250px;
	 padding-left:20px;
	 text-shadow: black 0.2em 0.2em 0.4em;
}
 #content_when_where_tickets span {
	 display: block;
}
 #content_when_where_tickets a {
	 display:block;
	 padding:8px 0;
}
 #content_when_where_tickets a {
	 color: #232323;
	 font-weight: normal;
	 font-style: italic;
}
/* inside #bottom_section #inline1 */
 #inline1, #inline2{
	 line-height:1.8em;
	 width:700px;
	 margin-left:150px;
	 margin-top: 100px;
	 border-bottom: 1px solid #F1B521;
}
 #inline1 {
	 height: 225px;
}
 #inline3{
	 line-height:1.8em;
	 width:700px;
	 margin-left:125px;
}
 #inline2 {
	 margin-left:350px !important;
}
 #inline1 .title {
	 font-size: 16pt;
	 font-weight: bold;
	 color: #FdE9d9;
}
 #inline1 .title .director_name {
	 color: #DCEDFF;
}
 #inline1 .title span {
	 display: block;
}
 #inline1 .description {
	 display: block;
	 padding: 0px;
	 color: #DEDEDE;
	 font-size: 10pt;
	 line-height: 14pt;
	 margin-top:0;
}
 #inline1 .description img {
	 margin: 0 10px 0 0;
}
 #inline1 #read_more_frans_lanting a {
	 color: #FDA203;
	 text-decoration: none;
	 font-size: 13pt;
}
 .description_part_2 {
	 width: 200px;
	 top:50px;
	 position:absolute;
	 left:440px;
	 color: #DEDEDE;
	 font-size: 13px;
}
 .description_part_2 .quote {
	 display: block;
	 padding-top: 20px;
	 text-align: center;
	 font-size: 15pt;
	 line-height: 20pt;
	 font-style: italic;
}
 .description_part_2 .credit {
	 display: block;
	 padding-top: 5px;
	 text-align: center;
	 font-size: 9pt;
}
 